*{
    margin: 0%;
    padding: 0%;
    font-family: 'DM Sans', sans-serif;
}
section{
    padding: 2rem 9%;
}
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
    font-family: 'DM Sans', sans-serif;
}

.home .content{
    text-align: center;
}
.home .content h3{
    font-size: 12rem;
    color: #f5f6f7;
    text-transform: uppercase;
    text-shadow: 0 .3rem .5 rem rgba(0,0,0,0.1);
    margin-bottom: 0%;
    padding-bottom: 0%;
}
.home .content p{
    font-size: 4rem;
    color: #fff;
   margin-top: 0%;
   padding-top: 0%;
}
.home .video-container video{
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.home .controls{
    padding: 0.5rem;
    border-radius: 5rem;
    background: rgba(0,0,0,0.7);
    position: relative;
    top: 10rem;
    margin-bottom: 0%;
}
.line{
    border: 1px solid rgb(142, 160, 165);
    width: 100%;
    
}
.home .controls .vid-btn{
    height:1rem;
    width:1rem;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin: 0 .5rem;
}
.home .controls .vid-btn.active{
  background: rgb(99, 198, 223);
}

/* home-Destinations section starts */
.homeDestinations{
    min-height: 100vh;
    background: #e1e5ea;
   
}
.HomeSectionNameInfo{
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
    box-sizing: border-box;
    padding: 5%;
    padding-top: 0%;
    
    /* flex-wrap: wrap; */
    
}
.HomeSectionNameInfo .HomeName{
    flex: 40%; /* Flex shorthand: flex-grow, flex-shrink, flex-basis */
      box-sizing: border-box;
      align-self: flex-start;
      padding-top: 4%;
}
.HomeSectionNameInfo .HomeName p{
    font-size: 1.5rem;
    font-weight: 700;
}
.HomeSectionNameInfo .homeInfo{
    flex: 60%; /* Flex shorthand: flex-grow, flex-shrink, flex-basis */
    box-sizing: border-box;
    align-self: flex-start;
    padding: 4%;
    /* margin-left: .01%; */
    padding-left: .8%;
}
.HomeSectionNameInfo .homeInfo h5{
    font-size: 3rem;
    font-weight: 700;
    padding: 0%;
    margin-left: 0%;
    /* align-self: flex-start; */
} 
.HomeBookings {
    background: black;
    color: #fff;
}
.HomeBookings .HomeBookingsCards{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.HomeBookingsCards .HomeBookingsCardsLeft{
    flex: 40%;
    padding-left: 4.5%;
    box-sizing: border-box;
    /* width: 40%; */

}
.HomeBookingsCardsLeft .homeBookLeftCard{
    padding: 2%;
    margin-top: 10%;
    justify-content: space-between;
    width:60%;
}
.homeBookLeftCard h6{
    font-size: 1.5rem;
    font-weight: 300;
}
.homeBookLeftCard p{
    color: #7a7e82;
}
.HomeBookingsCards .HomeBookingsCardsRight{
    flex: 60%;
    padding: 2%;
    box-sizing: border-box;

}
.HomeBookingsCardsRight .homeBookLeftCard{
    margin-top: 4%;
}
.HomeBookingsCardsRight .homeBookBtns{
    display: flex;
    padding: 5% 0%;
}
.homeBookBtns .homeBookBtn{
    padding: 1% 1.5%;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 400;
}
.homeBookBtns .homeBookBtn a {
    text-decoration: none;
    color: inherit;
}
.homeBookBtns .homeBookBtn a:hover {
    color: #4ba2cd; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    transform: scale(1.1); 
    
}

#homeBookbtnBook{
    background: white;
    color: black;
    border: .5px dotted white;
}
#homeBookbtnDetails{
    margin-left: 3%;
    background: black;
    color: #fff;
    border: .5px dotted white;
}
.HomeBookVideo iframe{
    
    width: 70%;
    border-radius: 15px;
}
/* Why choose us section */
.HomeWhyDiv{
    background: #e1e5ea;
}
.HomeWhyDiv .HomeWhyReasons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10%;
    align-items: center;
    padding-left: 4.5%;
    width: 100;
}
.HomeWhyReasons .whyCards img{
    height: 50px;
    width: 50px;
    padding-bottom: 2%;
}
.HomeWhyReasons .whyCards p{
    font-size: 2rem;
    font-weight: 200;
    width: fit-content;
}
/* reviews section */
.HomeReviews{
    display: flex;
    justify-content: center;
    align-items: center;
}
.testi-faq{
    padding: 5% 0% 2% 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #f8f9fa; */
    /* border: 1px solid; */
}
.testimonitals{
    /* height: 500px;  */
    width: 75%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
}
.test{
    margin-top: 0px;
}
.test-crou-feedback{
    display: flex;
    /* border: 1px solid; */
    flex-direction: column;
    height: 100%;
    width: 50%;
   
}
.test-crou-feedback h1{
    text-align: center;
}
.test-carousel{
    width: 100%;
}
.test-crou-feedback>p{
    color: black;
    font-size: 20px;
}
.test-crou-feedback>h1{
    font-size: 42px;
}
.card{
    margin: 0%;
    background-color: #f8f9fa;
    border: none;
}
.card>p:nth-child(1){
    color: black;
}
.card>img{
    width: 100px;
    border-radius: 50%;
    margin-bottom: 2%;
}
#card1,#card2,#card3{
    border: none;
    background-color: transparent;
}
.card-name{
    color: black;
    margin-bottom: 0%;
    font-size: 25px;
}
.card-pos{
    margin-bottom: 0%;
    /* padding: 0%; */
    font-size: 22px;
    margin-top: 0%;
}
.card-quote{
    font-size: 80px;
    margin-top: -15px;
}
.card-para{
    margin-top: -60px;
}
/* css for home cards */
/* Updated class name for the card container */
.HomeDestCards{
    display: flex;
    justify-content: space-between;
}

.homeCard {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    width: 29%;
    height: 550px;
    text-align: center;
    border-radius: 8%;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  

.homeCard:hover {
    transform: scale(1.05); /* Adjust the scale factor for the hover effect */
    cursor: pointer;
}

  
  /* Style for the card image */
  .homeCard img {
    border-radius: 8%;
    max-width: 100%;
    height: 70%;
  }
  
  /* Style for the card title */
  .homeCard h4 {
    padding-top: 10%;
    font-weight: 800;
    margin: 10px 0;
    font-size: 1.6rem;
  }
  
  /* Style for the location div */
  .locationWithIcon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Style for the location icon */
  .locationWithIcon img {
    width: 20px;
    height: 20px;
    margin-right: 5px; /* Adjust spacing between icon and text */
  }
  #pagination {
    margin-top: 20px;
    text-align: center;
  }
  
  #pagination button {
    background-color: #3498db;
    color: #fff;
    border: 1px solid #3498db;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    width: 40px;
  }
  
  #pagination button:hover {
    background-color: #125886;
  }
  