.about-us{
    width: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
.about-us>h1{
    font-size: 90px;
}
.about-us>p{
    font-size: 20px;
}
#nav-100vh{
    width: 100%;    
    height: calc(100vh - 135px);
    background-image: url('./images/bg-vernezza.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#about-hero{
    /* width: 100%; */
    height: auto;
    display: flex;
    justify-content: center;
    /* border: 1px solid; */
    align-items: center;
    padding: 7% 0% 7% 0%;
}
.about-img-cont{
    width: 80%;
    display: flex;
    /* height: 100%; */
    /* border: 1px solid; */
    gap: 3%;
    align-items: center;
}
.about-text{
    width: 40%;
    display: flex;
    height: 100%;
    /* border: 1px solid; */
    flex-direction: column;
    justify-content: space-between;
}
.about-text>p:nth-child(1){
    color: #fc8621;
    font-size: 25px;
}
.about-text>h1{
    font-size: 50px;
}
.about-img{
    height: 470px;
    width: 60%;
    display: flex;
    /* border: 1px solid; */
    /* padding: 4% 0% 4% 0%; */
    gap: 4%;
}
.about-img>img:nth-child(1){
    align-self: flex-start;
}
.about-img>img:nth-child(2){
    align-self: flex-end;
}
.about-img>img{
    border-radius: 16px;
    width: 270px;
    height: 400px;
}
.about-text>button{
    height: 50px;
    width: 25%;
    border-radius: 28px;
    border: none;
    background-color: #fc8621;
    color: white;
}

.testi-faq{
    padding: 5% 0% 2% 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    /* border: 1px solid; */
}
.testimonitals{
    /* height: 500px;  */
    width: 75%;
    display: flex;
    gap: 20px;
    justify-content: left;
    align-items: center;
    /* border: 1px solid; */
}
.test{
    margin-top: 0px;
}
.test-crou-feedback{
    display: flex;
    /* border: 1px solid; */
    flex-direction: column;
    height: 100%;
    width: 50%;
}
.test-carousel{
    width: 100%;
}
.test-crou-feedback>p{
    color: #fc8621;
    font-size: 20px;
}
.test-crou-feedback>h1{
    font-size: 42px;
}
.card{
    margin: 0%;
    background-color: #f8f9fa;
    border: none;
}
.card>p:nth-child(1){
    color: #fc8621;
}
.card>img{
    width: 100px;
    border-radius: 50%;
    margin-bottom: 2%;
}
#card1,#card2,#card3{
    border: none;
    background-color: transparent;
}
.card-name{
    color: #fc8621;
    margin-bottom: 0%;
    font-size: 25px;
}
.card-pos{
    margin-bottom: 0%;
    /* padding: 0%; */
    font-size: 22px;
    margin-top: 0%;
}
.card-quote{
    font-size: 80px;
    margin-top: -15px;
}
.card-para{
    margin-top: -60px;
}
#test-faq-ques{
    display: flex;
    height: 100%;
    width: 60%;
    /* border: 1px solid; */
    flex-direction: column;
}
#test-faq-ques>p{
    color: #fc8621;
    font-size: 20px;
}
#test-faq-ques>h1{
    font-size: 42px;
}
.faq-container{
    width: 100%;
    height: 100%;
    margin: auto;
}
.question{
    cursor: pointer;
    padding: 10px;
    display: flex;
    gap: 2%;
    font-size: 18px;
    align-items: center;
}
.answer{
    display: none;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.question::before{
    content:'+';
    font-size: 30px;
    font-weight: bolder;
}
/* .active::before{
    content: "-";
} */
.question.active{
    background-color: #fc8621;
    color: white;
}
.begin-journey{
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fc8621;
    margin-bottom: 3%;
}
.begin-btn{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.begin-btn>p{
    margin: 0%;
    font-size: 30px;
    color: white;
}
.begin-btn>button{
    border-radius: 28px;
    background-color: transparent;
    border: 1px solid white; 
    color: white;
    height: 45px;
    width: 10%;
}
/* 930 */
@media all and (max-width: 1265px) {
    .about-img-cont{
        width: 97%;
        gap: 30px;
    }
    .about-text{
        width: 50%;
    }
    .about-img{
        height: 400px;
    }
    .about-img>img{
        /* width: 230px; */
        width: 40%;
        /* height: 350px; */
        height: 340px;
    }
    .about-text>h1{
        font-size: 30px;
    }
    .about-text>p:nth-child(1){
        font-size: 20px;
    }
    .about-us>h1{
        font-size: 60px;
    }
    .about-us>p{
        font-size: 19px;
    }
    .about-us{
        width: 50%;
    }
    .testimonitals{
        width: 97%;
    }
    .begin-btn>button{
        width: 15%;
    }
}
@media all and (max-width: 925px){
    .about-img-cont{
        flex-direction: column ;
    }
    .about-img-cont>div{
        width: 100%;
    }
    .about-img{
        justify-content: center;
        height: 370px;
    }
    .about-img>img{
        width: 30%;
        height: 100%;

    }
    .testimonitals{
        flex-direction: column;
    }
    .test-crou-feedback{
        width: 100%;
    }
    .test-crou-feedback>p{
        font-size: 18px;
    }
    .test-crou-feedback>h1{
        font-size: 40px;
    }
    .card{
        width: 95%;
    }
    #test-faq-ques{
        width: 100%;
    }
    #test-faq-ques>h1{
        font-size: 40px;
    }
    .begin-btn{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        gap: 10px;
    }
    .begin-btn>p{
        font-size: 25px;
    }
    .begin-btn>button{
        width: 25%;
    }
    .about-text>h1{
        font-size: 40px;
    }
    .about-us{
        width: 70%;
    }
    br{
        display: none;
    }
}
@media all and (max-width:450px){
    .about-us{
        width: 80%;
    }
    .about-us>h1{
        font-size: 40px;
    }
    .about-us>p{
        font-size: 18px;
    }
    .about-text>p:nth-child(1){
        font-size: 20px;
    }
    .about-text>h1{
        font-size: 30px;
        margin-bottom: 15px;
    }
    .about-text>p:nth-child(2),.about-text>p:nth-child(3){
        font-size: 16px;
    }
    .about-text>button{
        height: 40px;
    }
    .about-img>img{
        /* border: 1px solid; */
        width: 45%;
    }
    .test-crou-feedback>h1{
        font-size: 30px;
    }
    .card>img{
        width: 85px;
    }
    .card-name{
        font-size: 25px;
    }
    .card-pos{
        font-size: 20px;
    }
    .card-para{
        font-size: 16px;
    }
    #test-faq-ques>h1{
        font-size: 32px;
    }
    br{
        display: block;
    }
    .question{
        font-size: 18px;
    }
    .answer{
        font-size: 15px;
    }
    .begin-btn>p{
        font-size: 22px;
    }
}