body {
    margin: 0%;
    padding: 0%;
}

.nav-contact>a {
    color: #94999f;
    text-decoration: none;
}

.nav-contact>a:hover {
    text-decoration: none;
    color: inherit;
}

#nav-bar-top {
    display: flex;
    justify-content: space-between;
    padding: 0% 2% 0% 2%;
    height: 65px;
    align-items: center;
    border: 1px solid #e9e9e9;
}

.social-contact {
    display: flex;
    width: 87%;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    color: #94999f;
    border-right: 1px solid #e9e9e9;
}

.nav-contact {
    display: flex;
    width: 60%;
    justify-content: left;
    gap: 3%;
    align-items: center;
}

.nav-social {
    width: 40%;
    display: flex;
    gap: 2%;
    justify-content: right;
    padding-right: 1%;
}

.login-signup {
    width: 13%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login-signup>a {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.login-signup>a:hover {
    text-decoration: none;
}

.log>span {
    color: #94999f;
    text-decoration: none;
    align-self: center;
}

.log>p {
    color: black;
    font-size: 18px;
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-bar-bottom {
    /* width: 75%; */
    height: 90px;
    /* margin: auto; */
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    /* align-items: center; */
    align-content: center;
    /* border: 1px solid #94999f; */
}
#nav-100vh{
    width: 100%;
    height: 100vh;
    background-image: url('./images/bg-vernezza.jpg');
    /* background-color: blue; */
    background-position: center;
    background-size: cover;
    position: relative;
}
.nav-bottom {
    width: 75%;
}

#logo-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width:750px) {
    .nav-contact {
        display: none;
    }

    .nav-social {
        width: 100%;
        justify-content: left;
    }

    .login-signup {
        width: 30%;
    }

    .social-contact {
        width: 70%;
    }

    .log>p {
        font-size: 12px;
    }
    .nav-bottom{
        width: 97%;
    }
}
/* 750 - 1408 */

@media all and (min-width:700px) and (max-width:1408px){
    .log>p {
        font-size: 15px;
    }
    .login-signup{
        width: 24%;
    }
    .social-contact{
        width: 76%;
    }
    .nav-bottom{
        width: 85%;
    } 
}