body{
    margin: 0%;
    padding: 0%;
}

.nav-contact>a{
    color: #94999f;
    text-decoration: none;
}
.nav-contact>a:hover{
    text-decoration: none;
    color: inherit;
}
#nav-bar-top{
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    padding: 0% 2% 0% 2%;
    height: 50px;
    align-items: center;
}
.social-contact{
    display: flex;
    border: 1px solid;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    /* gap: 2%; */
    height: 100%;
    color: #94999f;
}
.nav-contact{
    /* gap: 2%; */
    display: flex;
    /* gap: 2%; */
    width: 60%;
    justify-content: left;
    /* height: 100%; */
    gap: 2%;
    align-items: center;
    /* border: 1px solid; */
}
.nav-social{
    /* border: 1px solid; */
    width: 40%;
    display: flex;
    gap: 2%;
    justify-content: right;
    /* align-items: ; */
    /* align-content: space-between; */
}
.login-signup{
    border: 1px solid;
    width: 12%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.login>svg,.signup>svg{
    color: #94999f;
    text-decoration: none;
}
.login>a,.signup>a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}